Python/.idea/encodings.xml
Python/.idea/.name
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/Python.iml
Python/.idea/scopes/scope_settings.xml
Python/.idea/vcs.xml
Python/.idea/workspace.xml